<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jointdale Records</title>
        <meta name="Jointdale Records" content="Jointdale Records - Making Remixes/Mashups">
        <link rel="stylesheet" href="/css/styles.css">
        {# favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        {# icons #}
        <script src="https://kit.fontawesome.com/47f821f85b.js" crossorigin="anonymous"></script>
        {# vercel analytics #}
        <script>
            window.va = window.va || function () {
                (window.vaq = window.vaq || []).push(arguments);
            };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>

    </head>
    <body class="min-h-screen flex flex-col">
        {% set title = 'JOINTDALE RECORDS' %}
        {% include "partials/_header.njk" %}
        {{ content | safe }}
        {% include "partials/_footer.njk" %}
    </body>
</html>