{% set hoverColorNav = 'text-blue' %}
<header>
  {% include './_mobile_nav.njk' %}
  <!-- Background image -->
  <div
  class="flex md:h-screen bg-no-repeat bg-center items-end md:items-center justify-center md:bg-contain pb-72 md:pb-0"
  style="background-image: url('../../assets/images/logo.webp');"></div>
  <!-- Background image -->
</header>